.add-fixture-form {
  background-color: #f8f9fa;
  padding: 16px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

}

.add-fixture-form h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 20px;
  color: #1a3f8b;
  text-align: left;
}

.add-fixture-form form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.add-fixture-form select,
.add-fixture-form button {
  padding: 10px;
    background-color: #1a3f8b
  font-size: 14px;
  border-radius: 6px;
  border: 1px solid #ddd;
}

.add-fixture-form button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.add-fixture-form button:hover {
  background-color: #0056b3;
}
